$table: rgba(247, 246, 233, 0.65);
$hover: rgba(106, 204, 145, 0.7);
$green: rgb(106, 204, 145);
$yellow: rgb(248, 216, 26);
$darkyellow: rgb(253, 106, 2);
$darkbrown: rgb(235, 97, 107);
$red: rgba(230, 79, 29, 0.9);
$darkgrey: rgba(96, 102, 98, 0.7);
$violet: rgb(69, 77, 186);
$peachy: rgb(241, 145, 114);
$violetpale: rgba(69, 77, 186, 0.2);
$pink: rgba(233, 104, 174, 0.2);
$pinkstrong: rgb(233, 104, 174);
